.first_section_cosmetics {
	padding: 5% 10px;
}

.text_cosmetic1 {
	padding-top: 3%;
}

.text_cosmetic1 h5 {
	font-size: 23px;
	font-family: 'Montserrat-Regular';
	color: #5d6a84;
}

.text_cosmetic1 p {
	color: #5d6a84;
}

.second_section_cosmetics {
	background-color: #f2f2f2;
	padding: 5% 10px;
}

.box_second {
	background-color: #fff;
	margin: 4% 0px;
	box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
	transition: ease all 0.3s;
}

.box_second:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	transition: ease all 0.3s;
}

.text_panel_cosmetics {
	padding-top: 5%;
}

.text_panel_cosmetics h4 {
	font-family: 'Montserrat-Regular';
	font-size: 23px;
	color: #5d6a84;
}

.text_panel_cosmetics p {
	font-size: 15px;
}